# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.so

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Mobile / Expo
.expo/
*.jks
*.p8
*.entitlements
*.plist

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
